.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 600px;
  text-align: center;
}

.time {
  height: 50px;
  width: 50px;
  padding-top: 25px;
  font-size: 30px;
  text-align: center;
  background-color: black;
  color: aliceblue;
  margin-top: 100px;
}

.button {
  height: 100px;
  width: 200px;
  border: none;
  background-color: #008cba;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

.inputbox {
  height: auto;
  width: auto;
}
